body {
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #0d1021;
    color: #fff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #ccc; */
    background-image: url('../images/sun-toggle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 1s ease-in-out;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, .1),
                inset 0 8px 8px rgba(0, 0, 0, .1),
                inset 0 -4px 4px rgba(0, 0, 0, .1);
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    /* background-color: #fff; */
    background-image: url('../images/sun.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.4s;
    /* animation: spin 0.5s; */
    box-shadow: 0 8px 40px rgba(0, 0, 0, .2);
}

/* .slider.animated:before {
    animation: spin 0.5s;
} */

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

input:checked+.slider {
    /* background-color: #2196F3; */
    background-image: url('../images/moon-toggle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* box-shadow: inset 0 8px 60px rgba(0, 0, 0, .3),
                inset 8px 0 8px rgba(0, 0, 0, .3),
                inset 0 -4px 4px rgba(0, 0, 0, .3); */
}

input:focus+.slider {
    /* box-shadow: 0 0 1px #2196F3; */
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, .1),
                inset 0 8px 8px rgba(0, 0, 0, .1),
                inset 0 -4px 4px rgba(0, 0, 0, .1);
}

input:checked+.slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
