/*
* Important information is highlighted
! Depracated method, do not use
? Should this method be exposed in the public API?
TODO: Refactor this method so that it conforms to the API
*/

.link-with-gradient {
    position: relative;
    display: inline-block;
    color: #000;
    text-decoration: none;
    overflow: hidden;
  }
  
  .link-with-gradient:hover::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #f00, #0f0, #00f);
    background-size: 200% 100%;
    background-position: 100% 0;
    animation: underlineMove 2s linear infinite;
  }
  
  @keyframes underlineMove {
    0% {
      background-position: 100% 0;
    }
  
    100% {
      background-position: 0 0;
    }
  }
  
  /* 
    * Loading
  */
  .preloader-2 .line {
    width: 1px;
    height: 12px;
    background: #fff;
    margin: 0 1px;
    display: inline-block;
    animation: opacity-2 1000ms infinite ease-in-out;
  }
  
  .preloader-2 .line-1 {
    animation-delay: 800ms;
  }
  
  .preloader-2 .line-2 {
    animation-delay: 600ms;
  }
  
  .preloader-2 .line-3 {
    animation-delay: 400ms;
  }
  
  .preloader-2 .line-4 {
    animation-delay: 200ms;
  }
  
  .preloader-2 .line-6 {
    animation-delay: 200ms;
  }
  
  .preloader-2 .line-7 {
    animation-delay: 400ms;
  }
  
  .preloader-2 .line-8 {
    animation-delay: 600ms;
  }
  
  .preloader-2 .line-9 {
    animation-delay: 800ms;
  }
  
  @keyframes opacity-2 {
    0% {
      opacity: 1;
      height: 15px;
    }
  
    50% {
      opacity: 0;
      height: 12px;
    }
  
    100% {
      opacity: 1;
      height: 15px;
    }
  }
  
  /* Hide Scrollbar when Loading Overlay is active */
  body.loading {
    overflow: hidden;
  }
  
  /* 
    ! Loader
  */
  .loader {
    border-top-color: #3498db;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* 
    * Image
  */
  .custom-animation {
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
  
  /* 
    * Animation 
  */
  @keyframes rotate {
    from,
    to {
      animation-timing-function: ease-in;
      box-shadow: 0 0 0 hsl(0, 0%, 80%), 0 0 0 hsl(0, 0%, 100%),
        -0.2rem 0 0.75rem 0 hsla(242.35, 31.58%, 97.26%, 0.3);
      transform: rotateY(-10deg);
    }
  
    25%,
    75% {
      animation-timing-function: ease-out;
      box-shadow: 0 0 0 hsl(0, 0%, 80%), 0 0 0 hsl(0, 0%, 100%),
        -0.2rem 0 0.75rem 0 hsla(242.35, 31.58%, 97.26%, 0.3);
      transform: rotateY(-10deg);
      transform: rotateY(0deg);
    }
  
    50% {
      animation-timing-function: ease-in;
      box-shadow: 0 0 0 hsl(0, 0%, 80%), 0 0 0 hsl(0, 0%, 100%),
        -0.2rem 0 0.75rem 0 hsla(242.35, 31.58%, 97.26%, 0.3);
      transform: rotateY(-10deg);
      transform: rotateY(10deg);
    }
  }