<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="icon" type="image/png" href="/static/image/icon-logo.png">
    <link rel="stylesheet" href="../static/style/output.css">
</head>
<body>
    <h1 class="text-blue-600">Hello</h1>

    <script src="../node_modules/flowbite/dist/flowbite.min.css"></script>
    <script src="../node_modules/vanilla-tilt/dist/vanilla-tilt.js"></script>
</body>
</html>